<!--start: Header -->
	<header>
		
		<!--start: Container -->
		<div class="container">
			
			<!--start: Navigation -->
			<div class="navbar navbar-inverse">
	    		<div class="navbar-inner">
	          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	          		</a>
					<a class="brand" href="index.html"><img src="http://msrsas.org/images/logo.jpg">M. S. Ramaiah University of Applied Sciences</a>
	          		<div class="nav-collapse collapse">
	            		<ul class="nav">
							<li class="active"><a href="index.html">Home<span>start here</span></a></li>
	              			<li ><a href="about.html">About<span>our team</span></a></li>
							<li class="dropdown">
	                			
							<li ><a href="portfolio.html">Portfolio<span>our works</span></a></li>									
					
							<li ><a href="blog.html">Blog<span>our stories</span></a></li>
	              			<li ><a href="contact.html">Contact<span>stay in touch</span></a></li>
							<li ><a href="login.html">Login<span>sign in</span></a></li>
	            		</ul>
	          		</div>
	        	</div>
	      	</div>	
			<!--end: Navigation -->
			
		</div>
		<!--end: Container-->			
			
	</header>
	<!--end: Header-->
	